<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :role, label: 'System Type', :collection => User::ROLES, :include_blank =>true %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
